*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
Android/build/android-profile/profile-2017-06-13-10-49-03-666.rawproto
Android/build/android-profile/profile-2017-06-13-10-49-11-303.rawproto
Android/build/android-profile/profile-2017-06-13-10-50-04-986.rawproto
Android/build/android-profile/profile-2017-06-13-11-30-22-252.rawproto
Android/build/android-profile/profile-2017-06-13-11-30-24-478.rawproto
Android/build
Android/app/src/main/java/com/taobao/android/luaview/playground/MyActivity2.java
Android/app/src/main/java/com/taobao/android/luaview/playground/MyAdapter.java
Android/app/src/main/res/layout/activity_my2.xml
